# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../../../../:\Users\A\Documents\Tencent Files\929780650\FileRecv\实验二\模块二 RDT代码（学生用）\发布给学生的RDT代码\Windows_CLion_GCC_MinGW\StopWait\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
